@media (max-width: 750px) {
    #nav {
        padding: 0 15px;
        justify-content: space-between;
    }

    #nav_btn_div {
        width: 300px;
    }

    #nav_btn_div button {
        font-size: 0.9rem;
        width: 40%;
    }

    #welcome_div p {
        font-size: 1.2rem;
    }

    #player_name_div h1 {
        font-size: 1.5rem;
        color: #31c4c0;
    }

    #comp_player_name_div h1 {
        font-size: 1.5rem;
        color: #31c4c0;
    }

    #player_form {
        width: 500px;
    }

    #comp_player_form {
        width: 500px;
    }

    #comp_player_form input {
        font-size: 0.9rem;
    }

    #comp_player_form #comp_play {
        font-size: 1rem;
        width: 30%;
    }

    #social {
        font-size: 1.5rem;
    }

    #copyright {
        font-size: 0.9rem;
    }
}

@media (max-width:560px) {
    #nav h1 {
        font-size: 1.7rem;
    }

    #nav_btn_div {
        width: 250px;
    }

    #player_name_div {
        padding: 1vh;
    }

    #comp_player_name_div {
        padding: 1vh;
    }

    #player_form {
        width: 430px;
    }

    #comp_player_form {
        width: 430px;
    }
}

@media (max-width: 490px) {
    #nav {
        justify-content: center;
    }

    #nav h1 {
        font-size: 1.8rem;
    }

    #nav_btn_div {
        display: none;
    }

    #welcome_div h1 {
        font-size: 1.5rem;
    }

    #start_game_btn,
    #highest_score_btn {
        height: 35px;
        width: 150px;
        font-size: 1rem;
    }

    #welcome_div p {
        text-align: center;
    }

    #player_name_div {
        padding: 1vh;
    }

    #comp_player_name_div {
        padding: 1vh;
    }

    #player_name_div h1 {
        font-size: 1.3rem;
    }

    #comp_player_name_div h1 {
        font-size: 1.3rem;
    }

    #player_form {
        width: 370px;
        border-radius: 5px;
    }

    #comp_player_form {
        width: 370px;
        border-radius: 5px;
    }

    #player_form input {
        font-size: 0.8rem;
    }

    #comp_player_form input {
        font-size: 0.8rem;
    }

    #player_form #play {
        font-size: 0.8rem;
        width: 27%;
    }

    #comp_player_form #comp_play {
        font-size: 0.8rem;
        width: 27%;
    }

    #gameboard {
        padding: 5px;
    }

    #comp_gameboard {
        padding: 2px;
    }


    #x_p,
    #o_p {
        color: #f1b137;
        font-size: 1rem;
    }

    #turn {
        font-size: 1.3rem;
        margin: 15px;
    }

    #board {
        height: 40vh;
        width: 40vh;
    }

    #comp_board {
        height: 40vh;
        width: 40vh;
    }

    .scope_div {
        border-radius: 5px;
    }

    #cross1,
    #cross2,
    #cross3,
    #cross4,
    #cross5,
    #cross6,
    #cross7,
    #cross8,
    #cross9,
    #circle1,
    #circle2,
    #circle3,
    #circle4,
    #circle5,
    #circle6,
    #circle7,
    #circle8,
    #circle9 {
        font-size: 2.7rem;
    }

    #match_result {
        font-size: 1rem;
    }

    #comp_match_result {
        font-size: 1rem;
    }

    #copyright {
        font-size: 0.7rem;
    }
}

@media (max-width: 375px) {
    #nav h1 {
        font-size: 1.6rem;
    }

    #welcome_div h1 {
        font-size: 1.4rem;
    }

    #welcome_div p {
        text-align: center;
        font-size: 1rem;
    }

    #start_game_btn,
    #highest_score_btn {
        height: 35px;
        width: 150px;
        font-size: 0.9rem;
    }

    #player_form {
        width: 355px;
    }

    #player_form #play {
        width: 25%;
    }
}